@import url("https://fonts.googleapis.com/css?family=Sunflower:700");
@import url("https://fonts.googleapis.com/css?family=Gugi:400");
@import url("https://fonts.googleapis.com/css?family=Do+Hyeon:400");
@import url("https://fonts.googleapis.com/css?family=Jua:400");

:root {
  --nav-height: calc(30px + 5vh);
  --nav-font-size: calc(var(--nav-height) / 2.5);
  --index-height: calc(100vh - var(--nav-height));
  --outer-circle-diameter: calc(5vh + 50px);
  --inner-outer-gap: calc(2vh + 10px);
  --inner-circle-diameter: calc(
    var(--outer-circle-diameter) - var(--inner-outer-gap)
  );
  --line-height: calc(var(--inner-outer-gap) / 4);
  --line-width: 50vw;
  --dark-color: rgb(66, 66, 66);
  --darkest-color: rgb(33, 33, 33);
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: var(--nav-height);
  width: 100vw;
  min-width: 320px;
  background-color: var(--dark-color);
}

nav .margin {
  display: inline-block;
  width: 6.25vw;
  height: 10px;
}

nav span:not(.margin) {
  color: aliceblue;
  font-size: var(--nav-font-size);
  font-family: "Gugi";
  font-weight: 500;
}

#sub,
#index,
#content {
  position: absolute;
  width: 100vw;
  min-width: 320px;
}

#sub,
#index {
  height: var(--index-height);
  min-height: 500px;
}

#index,
#content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#index {
  background-color: lightgray;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100vw;
  min-width: 320px;
  height: var(--outer-circle-diameter);
}

.line {
  display: inline-block;
  height: var(--line-height);
  width: var(--line-width);
  background-color: var(--darkest-color);
  transition: all 0.5s ease-out;
  transform: translateX(25vw);
}

.circle {
  display: inline-block;
  position: absolute;
}

.circle.outer {
  width: var(--outer-circle-diameter);
  height: var(--outer-circle-diameter);
  background: var(--darkest-color);
  border-radius: 50%;
}

.circle.inner {
  width: var(--inner-circle-diameter);
  height: var(--inner-circle-diameter);
  background: lightgray;
  border-radius: 50%;
}

#content {
  height: calc(var(--index-height) / 2 - var(--outer-circle-diameter) / 2);
  min-height: 212.5px;
  background-color: rgba(0, 0, 0, 0);
  top: 0;
}

@media (max-width: 320px) {
  :root {
    --line-width: 160px;
  }

  .line {
    transform: translateX(80px);
  }
}

@media (max-width: 160px) {
  .line {
    transform: translateX(85px);
  }
}

@media (max-height: 500px) {
  :root {
    --outer-circle-diameter: 75px;
    --inner-outer-gap: 20px;
    --inner-circle-diameter: 55px;
    --line-height: 5px;
  }
}
